<%- include partials/header.ejs %>

List of posts:

<ul>
  <% for (var i = 0; i < posts.length; i++) { %>
    <li>
      <a href="<%=posts[i].post_title%>"><%=posts[i].post_title%></a>
    </li>
  <%}%>
</ul>

<%- include partials/footer.ejs %>
